<div id="about-info-container">
  <h1>{{basicInfo.profession}}</h1>
  <div id="about-img">
    <div id='profile-container'></div>
    <!-- <img src="{{basicInfo.imgUrl}}" alt="The author: {{basicInfo.author}}" /> -->
  </div>
  <ol>
    <li>{{basicInfo.author}}</li>
    <li>{{basicInfo.age}}</li>
    <li>{{basicInfo.expertise}}</li>
  </ol>
  <p>
    {{basicInfo.devStatement}}
  </p>

</div>
