<!DOCTYPE html>
<html ng-app="iCompleted">
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/vendors/angular.js"></script>
    <script type='text/javascript' src="/javascripts/angular-app.js"></script>
    <script type="text/javascript" src="/javascripts/vendors/sweetalert.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/vendors/sweetalert.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type='text/javascript' src="/javascripts/temp.js"></script>
  </head>
  <body>
    <div id="loading-panel"></div>
    <div class="userLogin">
      {{#if user}}
      <a href="/account/logout">logout</a>
      {{else}}
      <div id="login-container">
        <div id="user-login">
          <span id="exit-login">Close</span>
          <form action="/account/login" method="post" id="login_form" class="userForms">
            <input type="text" name="username" value="" placeholder="Username" required>
            <input type="password" name="password" value="" placeholder="Password" required>
            <button type="submit" name="button"><i class="fa fa-arrow-right"></i></button>
          </form>
        </div>
      </div>
      {{/if}}
    </div>
    <article id="info-container">
      <div id="sub-info-container">
        <span id="nav-btn" class="not"><i class="fa fa-bars"></i></span>
        <div id="navigation-container">
          <a href="/portfolio">PORTFOLIO</a>
          <a href="/blog">BLOG</a>
          <a href="/">ABOUT</a>
          {{#if user}}
          <a href="/account/logout">logout</a>
          {{else}}
          <span id="user-btn">&nbsp;</span>
          {{/if}}
          <!-- <span id="login-btn"><i class="fa fa-user-secret"></i></span> -->
        </div>
      </div>
    </article>
    {{#if user}}
    <h2>{{user.username}} :: {{user.email}}</h2>
    {{else}}

    {{/if}}
    {{{body}}}
  </body>
</html>
