<!DOCTYPE html>
<html ng-app="iCompleted">
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/vendors/angular.js"></script>
    <!-- <script type="text/javascript" src="javascripts/vendors/sweetalert.min.js"></script> -->
    <script type='text/javascript' src="/javascripts/angular-app.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- <link rel="stylesheet" href="/javascripts/vendors/sweetalert.css"> -->
    <script type='text/javascript' src="/javascripts/temp.js"></script>

  </head>
  <body>
    <div class="userLogin">
      {{#if user}}
      <a href="/account/logout">logout</a>
      {{else}}
      <div id="login-container">
        <div id="user-login">
          <form action="/account/login" method="post" id="login_form" class="userForms">
            <input type="text" name="username" value="" placeholder="Username" required>
            <input type="password" name="password" value="" placeholder="Password" required>
            <input type="submit" value="Login">
          </form>
        </div>
      </div>
      {{/if}}
    </div>
    <article id="info-container">
      <div id="sub-info-container">
        {{#if user}}
        <h2>{{user.username}}, Ready to post? This account's email: {{user.email}}</h2>
        {{else}}
        <h1 id="nav-btn">hello<i class="fa fa-bars"></i></h1>
        {{/if}}
      </div>
    </article>
    {{{body}}}
  </body>
</html>
