<div id="portfolio-container">
  <h1 id="pf-title"><hr> <a href="/files/Aaron_Krueger_Resume.pdf" download="Aaron-Krueger-Resume.pdf" id="animate">{{title}}</a> <hr></h1>
  <ul>
    <li class="portfolioCards">
      <h2>{{portfolioLinks.shoppingMallJapan.name}}</h2>
      <div class="portfolio-img-container">
        <div class="portfolio-link-img" id="smj-img"><i class="fa fa-shopping-basket" aria-hidden="true"></i></div>
      </div>
      <p>
        {{portfolioLinks.shoppingMallJapan.description}}
      </p>
      <span><a href="{{portfolioLinks.shoppingMallJapan.link}}" target="_blank"><i class="fa fa-share-square-o"></i></a></span>
    </li>
    <li class="portfolioCards">
      <h2>{{portfolioLinks.runningM8.name}}</h2>
      <div class="portfolio-img-container">
        <div class="portfolio-link-img" id="runM8-img"></div>
      </div>
      <p>
        {{portfolioLinks.runningM8.description}}
      </p>
      <span><a href="{{portfolioLinks.runningM8.link}}" target="_blank"><i class="fa fa-share-square-o"></i></a></span>
    </li>
    <li class="portfolioCards">
      <h2>{{portfolioLinks.chitownCrimeAnalytics.name}}</h2>
      <div class="portfolio-img-container">
        <div class="portfolio-link-img" id="chi-town-img"></div>
      </div>
      <p>
        {{portfolioLinks.chitownCrimeAnalytics.description}}
      </p>
      <span><a href="{{portfolioLinks.chitownCrimeAnalytics.link}}" target="_blank"><i class="fa fa-share-square-o"></i></a></span>
    </li>
    <li class="portfolioCards">
      <h2>{{portfolioLinks.rivusChatApp.name}}</h2>
      <div class="portfolio-img-container">
        <div class="portfolio-link-img" id="chat-app-img"></div>
      </div>
      <p>
        {{portfolioLinks.rivusChatApp.description}}
      </p>
      <span><a href="{{portfolioLinks.rivusChatApp.link}}" target="_blank"><i class="fa fa-share-square-o"></i></a></span>
    </li>
  </ul>
</div>
<footer></footer>
